<template name="home">
    <div class="ui top fixed menu inverted">
        <div class="header item">receipt-share</div>
        <div class="right item">{{> authPanel }}</div>
    </div>
    <div class="ui container">
        <div class="ui attached segment">
            <h1 class="ui center aligned balance">Andrew owes <span>$45.00</span></h1>
        </div>
        <div class="ui bottom attached green labeled icon button">
            <i class="in cart icon"></i>Check Out
        </div>
        
        <table id="receipt-table" class="ui very basic celled table">
            <thead>
                <tr><th>Receipt</th>
                <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <a class="ui big blue circular label">C</a>
                            <div class="content">
                                Carla
                                <div class="sub header">Nespresso pods</div>
                            </div>
                        </h4>
                    </td>
                    <td>$90.00</td>
                </tr>
            </tbody>
        </table>
        
        <form class="ui form">
            <div id="add-receipt-form" class="ui raised attached segment">

                <div class="field">
                    <label>Description</label>
                    <input type="text" name="description">
                </div>
                <div class="field">
                    <label>Amount</label>
                    <input type="text" name="amount">
                </div>
            </div>
            <div class="ui error message"></div>
            <div id="add-receipt-button" class="ui raised bottom attached red labeled icon button">
                <i class="plus icon"></i> Add Receipt
            </div> 
        </form>
        
    </div>
</template>