<template name="home">
    <div class="ui top fixed menu inverted">
        <div class="header item">receipt-share</div>
        <div class="right item">{{> authPanel }}</div>
    </div>
    <div class="ui container">
        <div class="ui attached segment">
            {{#with currentDebt}}
            <h1 class="ui center aligned balance">{{name}} owes <span>${{debt}}</span></h1>
            {{/with}}
        </div>
        <div id="check-out-button" class="ui bottom attached green labeled icon button">
            <i class="in cart icon"></i>Check Out
        </div>
        
        <table id="receipt-table" class="ui very basic celled table">
            <thead>
                <tr><th>Receipt</th>
                <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {{# each currentReceipts }}
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <a class="ui big {{user.colour}} circular label">{{user.tag}}</a>
                            <div class="content">
                                {{user.name}}
                                <div class="sub header">{{description}}</div>
                            </div>
                        </h4>
                    </td>
                    <td>${{amount}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        
        <form class="ui form">
            <div id="add-receipt-form" class="ui raised attached segment">

                <div class="field">
                    <label>Description</label>
                    <input type="text" name="description">
                </div>
                <div class="field">
                    <label>Amount</label>
                    <input type="text" name="amount">
                </div>
            </div>
            <div class="ui error message"></div>
            <div id="add-receipt-button" class="ui raised bottom attached red labeled icon button">
                <i class="plus icon"></i> Add Receipt
            </div> 
        </form>
        
    </div>
    
    <div class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">Check Out</div>
        <div class="image content">
            <div class="image">
                <i class="in cart icon"></i>
            </div>
            <div class="description">
                <p>Are you sure you want to checkout? Have you transferred the money?</p>
            </div>
        </div>
        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <div id="modal-no-button" class="ui red basic inverted button">
                    <i class="remove icon"></i>
                    No
                </div>
                <div id="modal-yes-button" class="ui green basic inverted button">
                    <i class="checkmark icon"></i>
                    Yes
                </div>
            </div>
        </div>
    </div>

</template>