.ui.container {
    margin-top: 5em;
}

.balance {
    font-size: 4em;
    text-align: center;
    font-weight: normal;
}

.balance span {
    display: block;
    color: red;
}

.wide {
    width: 90% !important;
}

.login {
    margin-right: 1em !important;
}